<%- include('../partials/header') %>

<h1>About Me</h1>
<p>I study at Goldsmiths, doing Computer Science (Software Engineering). I am aiming to be a fullstack developer.</p>

<%- include('../partials/footer') %>
