<%- include('../partials/header') %>

<h1>This is the contact page</h1>
<p>
    My GitHub is
    <a href="https://github.com/NayNaax/04_express_33788346">https://github.com/NayNaax/04_express_33788346</a>
</p>

<%- include('../partials/footer') %>
